/** RESET **/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p{
    line-height: 1.5;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/** GENERAL **/
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
header, footer, section{
    display: flex;
    justify-content: center;
    padding: 0px 30px;
}
section{
    padding: 90px 30px;
}
.wrapper{
    max-width: 1000px;
    flex: 1;
}
a.button{
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 5px;
    color: #FFF;
    display: inline-block;
}
.button.primary{
    background-color: #5e60ce;
}
.button.secondary{
    border: 1px solid #F9FAF8;
}

/** HEADER **/
#header{
    background-color: #27003D;
    height: 60px;
}
#header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
#header nav ul{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 25px;
}
#header nav ul li{
    display: inline-block;
}
#header nav ul li a{
    color: #F9FAF8;
    padding: 5px 0px;
    text-decoration: none;
}

/** HERO **/
#hero{
    background-color: #27003D;
}
#hero .wrapper{
    display: flex;
    align-items: center;
}
#hero .left{
    flex: 1;
    margin-right: 50px;
}
#hero .right{
    flex: 1;
}
#hero .left h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 12px;
    color: #FFF;
}
#hero .left p{
    font-size: 18px;
    margin-bottom: 18px;
    color: #FFF;
    opacity: 60%;
}
#hero .right img{
    border-radius: 10px;
}

/** COLORS **/
#colors .wrapper{
    text-align: center;
}
#colors h2{
    font-size: 36px;
    font-weight: 700;
    color: #27003D;
    margin-bottom: 36px;
}
#colors .grid{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 50px;
}
#colors .block .square{
    width: 100%;
    padding-bottom: 100%;
    border-radius: 10px;
    margin-bottom: 12px;
}
#colors .block .square.square1{
    background-color: #7400b8;
}
#colors .block .square.square2{
    background-color: #6930c3;
}
#colors .block .square.square3{
    background-color: #5e60ce;
}
#colors .block .square.square4{
    background-color: #5390d9;
}

/** QUOTE **/
#quote{
    background-color: #F8EBFF;
}
#quote .wrapper{
    max-width: 750px;
}
#quote .quote{
    max-width: 750px;
    font-size: 30px;
    color: #27003D;
}
#quote .author{
    opacity: 30%;
}

/** CTA **/
#cta .block{
    background-color: #27003D;
    color: #FFF;
    padding: 40px 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#cta .block .left p{
    opacity: 60%;
}